/*Terms&Conditions*/

.terms-box{
    max-width: 460px;
    background-color:#b5651d;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    padding: 60px 30px;
    position: absolute;
}
.terms-text{
    padding: 0 20px;
    height: 400px;
    overflow-y: auto;
    font-size: 14px;
    font-weight: 500;
    color:  rgb(0, 0, 0);
}
.terms-text::-webkit-scrollbar{
    width: 2px;
    background-color: #b5651d;
}
.terms-text::-webkit-scrollbar-thumb{
    background-color: green;
}
.terms-box h2{
    text-transform: uppercase;
}
.terms-box h2 span {
    color: green;
    font-family: mv boli;
}
.terms-box h4{
    font-size: 13px;
    text-align: center;
    padding: 0 40px;
}
.terms-box h4 span{
    color:rgb(255, 0, 0);
}
.buttons{
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
}
.btn{
height: 50px;
width: calc(50% - 6px);
border: 0;
border-radius: 6px;
font-size: 19px;
font-weight: 500;
color: #000;
transition: 0.3s linear;
}
.red-btn{
    background-color:green;
    width: 100px;
}
.grey-btn{
    background-color:  rgb(255, 0, 0);
    width: 100px;
}
.btn:hover{
    opacity: 0.6;
}

/* box of main page */
section nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: fixed;
    right: 10;
    left: 0;
    background: #ffffff;
    box-shadow: 0 0 10px black;
    z-index: 1000;
}
section nav ul{
    list-style: none;
}
/* lists */
section nav ul li{
    display: inline-block;
    margin: 0 15px;

}
section nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 18px;
    transition:0.2s;
}
section nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: green;
    display: block;
    transition: 0.3s;
}
section nav ul li a:hover::after{
width: 100%;
}
section nav ul li a:hover{
    color: green;
}
/* icons */
section nav .icon i{
    font-size: 20px;
    color: black;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.3s;
}
section nav .icon i:hover{
    color: green;}

    @media only screen and (max-width: 800px){
        .terms-box{
            max-width: 430px;
            background-color:#b5651d;
            color: rgb(0, 0, 0);
            font-family: Montserrat;
            padding: 50px 20px;
            position: absolute;
        }   
    }